@font-face {
    font-family: 'ambleregular';
    src: url('police_personnalisee/Amble-Regular-webfont.eot');
    src: url('police_personnalisee/Amble-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('police_personnalisee/Amble-Regular-webfont.woff2') format('woff2'),
         url('police_personnalisee/Amble-Regular-webfont.woff') format('woff'),
         url('police_personnalisee/Amble-Regular-webfont.ttf') format('truetype'),
         url('police_personnalisee/Amble-Regular-webfont.svg#ambleregular') format('svg');
    font-weight: normal;
    font-style: normal;

}



h1 + p {
	text-decoration-line: underline;
	color: brown;
	font-weight: : bold /*ce sont des commentaires, et ne seront pas pris en compte par le navigateur! */


}
.my_logo{
	float: center;
}
.welcome{
	clear: both;
}

p, div, figcaption, figure, ul, ol, dl {
	text-align: justify; /** justify: take in all page surface possible in width, without leaving spaces in width*/
	font-size: 1.2em; 
	font-style: normal;
	opacity: 1;
	font-family: 'ambleregular', "Comic sans MS", "Times New Roman", "Arial Black", Arial, Verdana,"Courier New", Serif;
	

}

h1, h2{
	font-size: 1.8em;
	font-family:'ambleregular', "Comic sans MS", "Times New Roman", "Arial Black", Arial, Verdana,"Courier New", Serif;
	font-style: italic;
	font-weight: bold;
	text-align: center;

}

.floattant{
	float: right;
}

.paragraphe
{
	clear: both; /* both: oter l'image floattante à gauche ou à droite; right: à droite uniqmt, left: à gauche uinqmt*/
}

img{
	width: 400px;
	height: 400px;
	object-fit: contain;

}
em{
	font-style: oblique;
}

/*
---Propriètés: Mettre en gars: font-weight; 
	Valeurs:
	bold  : le texte sera en gras ;
	normal  : le texte sera écrit normalement (par défaut).
---Propriètés: Metrre en Italic: font-style. Ses valeurs sont les suivants;
	italic: le texte mis en italic;
	oblique: le texte en sera oblique(plus courbé);
	normal: forme par defaut;
*/

#gras{
	font-weight: bold;
	text-decoration: underline;
}
/* ---Proprièté de Soulignement et Décorations en CSS : "text-decoration". Ses valeurs sont:;
	underline  : souligné ;

	line-through  : barré ;

	overline  : ligne au-dessus ;

	none : normal (par défaut).

*/
.barer{
	text-decoration: line-through;
}

.souligner_dessus{
	text-decoration: overline; /*"blink" or "none" : in default, not undderline in text*/
}

/*Proprièté d'alignement de texte: text-align
	Valeurs sont :
	center: centré le texte dans la page;
	left: aligner à gauche, c'est la forme par defaut;
	right: aligner à droite;
	justify: justifier le texte. i.e prendre toute la largeur possible sans laisser d'espaces blancs à la fin de ligne;


*/


/*.introduction{
	color: red;
}
#puce {
	color: purple;
}
#special{
	color: green;
}
*{
	color: blue;
}*/
h1 em {
	color: green;

}

a[title]{
	color: red;
}

a[title*= "de"]{
	color: green;
}


/*Partie Ajout de Couleur & Changement de fond de page

Proprièté couleur de fond: background-color: ses valeurs sont toutes les couleurs possibles; ;
NB: En CSS, l'élement le plus précis a la priorité 😉! 
*/


/*body{
	/*background-color: #ccffff;  background-attachment: fixed;  on peut tout combiner en un seul background (super proprièté) et d'y ajouter ses valeurs*/
	/*background: url(soleil.png) top right no-repeat , url(neige.jpeg);
	
	


}*/
h1{
	background-color: #ccffff;

}



mark{
	background-color: red;
	color: green;
}

/*Image de fond: proprièté: background-image 
	avec comme valeur url("nom_de_l_image.png") avec le nom de l'image souhaité (nom_de_l_image.png) à l'intérieur de url;
	background-attachment  : fixer le fond. Deux valeurs disponibles: fixed (le fond reste fixer) et scroll (le fond defile avec le texte);
	background-repeat  : répétition du fond

*/



/*Partie sur la bordure et effet d'Ombre CSS
box-shadow  : pour les ombres des boîtes (p, h1, h2, ....etc)
box-chadow : pour les ombres de textes (lettres, caractères ..etc); tous deux avec quatre valeurs comme suit:
Le décalage horizontal de l'ombre. (en px)

Le décalage vertical de l'ombre. (en px)

L'adoucissement du dégradé. (en px)

La couleur de l'ombre.

*/
p{
	border-left: 3px green solid;
	border-right: 3px black solid;
}
h1{
	border: 3px blue groove;
	border-top-color: red;
	border-bottom-width: 20px;
	border-radius: 20px  10px 20px 10px;
	box-shadow: 6px 6px 15px green;
	text-shadow: 8px 8px 18px black;
}
ol
{
	border: 3px blue solid;
}

/*Des apparences dynamiques


*/

a:hover /*hover: pseudo format permettant de changer les apparences des paragraphes, liens, titres...etc au survol du clavier*/
{
	
	font-weight: bold;
	color: black;
}

p:hover
{
	border-top: 5px yellow solid;
}

a:avtive
{
	background-color: green;
}

a:focus
{
	
	background-color: green;
}

a:visited/* visited: pseudo format pour changer si un lien a été déjà consulté*/
{
	color: rgba(34, 55, 67, 0.8);
}
















